@charset "UTF-8";
/* styles.css */

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Apply styles to the reset-password div */
.reset-password {
    max-width: 400px;
    height:400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

/* Style the form heading */
.reset-password h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #333;
    padding-bottom:30px;

}

/* Style form labels */
.reset-password label {
    display: block;
    
    color: #333;
   
}

/* Style form input fields */
.reset-password input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Style form submit button */
.reset-password input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
     border-radius: 10px;
}

/* Change submit button color on hover */
.reset-password input[type="submit"]:hover {
    background-color: #0056b3;
    
}
